*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.letter{
    background-color: #ced4da;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0,0.1);
    margin-top: 100px;
    
   
}
h4{
    text-align: center;
    padding: 20px;
}
button{
    margin-bottom: 10px;
}
