*{
	font-family: 'Poppins', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	background: radial-gradient(#fff,#a8dadc);
	background-size: cover;
	background-position: center;

}
.loginbox{
	width: 320px;
	height: 510px;
	background-image:linear-gradient(rgba(68, 142, 238, 0.8),rgba(0,0,100,0.8)),url(images/red-white.jpg);
	box-shadow: 0 0 40px 20px rgba(0,0,0,0.26);
	color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 55px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h2{
	margin: 0;
 padding: 0 0 15px; 
 font-size: 28px; 
}
 .loginbox p{ margin: 0;
 padding: 0;
 font-weight: bold;
 }
 .Loginbox input{ 
 width: 100%;
 margin-bottom: 20px;
 }
 .loginbox input[type="text"], input[type="email"] , input[type="password"] 
 {
	 border: none;
	 border-bottom: 1px solid #fff;
	 background: transparent;
	 outline: none;
	 height: 40px;
	 color: #fff;
	 font-size: 16px;
 }
	 .loginbox input[type="submit"]
	 {	
	 border: none;
	 outline: none; 
	 height: 40px;
	 background: #f52525;
	 color: #fff; 
	 font-size: 18px;
	 border-radius: 20px;
	 }
	 .loginbox input[type="submit"]:hover
	 {
		cursor: pointer;
        background: rgb(32, 22, 173);
        color: #000;		
	 }
 
	 .loginbox a{ 
	 text-decoration: none;
	 font-size: 12px; line-height: 20px; 
	 color: rgb(255, 255, 255);
	 }
	 .loginbox a:hover
	 { 
	 color: rgb(0, 79, 248);
     
     }